<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/styles.css">

    <title>Home</title>
</head>

<body>

<div class="login">

    <div class="login-form">

        <h1>Welcome</h1>

        <p>
            Download the file below.
        </p>

        <br>

        <a href="assets/files/student-guide.pdf" download>
            <button>
                Download File
            </button>
        </a>


        <p>
            Go back to
            <a href="index.html">
                Login
            </a>
        </p>

    </div>

</div>


</body>

</html>