/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --primary: #2563EB;
    --primary-dark: #1D4ED8;
    --secondary: #60A5FA;

    --white: #FFFFFF;
    --text: #F8FAFC;

    --glass: rgba(255,255,255,.08);
    --glass-border: rgba(255,255,255,.25);

    --button-hover: #1E40AF;
}



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    color: #070705;
}

body{
    height:100vh;
    background:
    radial-gradient( 50% 20%, rgba(15, 14, 13, 0.35), transparent 35%),
    linear-gradient(
        135deg,
        #f1e903 0%,
        #28281e 0%,
        #070705 100%
    );
}
.login{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.background{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
    color: #070705;
}
----------
.login-form{
    width:400px;
    padding:40px;
    border:1px solid var(--glass-border);
    border-radius:20px;
    backdrop-filter:blur(18px);
    background:var(--glass);
    color:var(--white);
    box-shadow:0 15px 40px rgba(0,0,0,.25);
}
.login-form h5{
    text-align:center;
    margin-bottom:30px;
      background-color: #070705;
}

.input-box{
    display:flex;
    align-items:center;
    border:2px solid rgba(255,255,255,.6);
    border-radius:30px;
    padding:0 20px;
    margin-bottom:20px;
    font-size: 10;
}

.input-box input{
    width:100%;
    padding:15px 0;
    background:none;
    border:none;
    outline:none;
    color:#fff;
    font-size:16px;
    
}

.input-box input::placeholder{
    color:#fff;
    
}

.input-box i{
    font-size:20px;
    color: #f1e903;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:14px;
    margin-bottom:20px;
    
}

.options a{
    color:#fff;
    text-decoration:none;
}

.options a:hover{
    text-decoration:underline;
    background-color: #070705;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:30px;
    background:#fff;
    color:#000;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
}

button:hover{
    background:#e6e6e6;
}

.login-form p{
    margin-top:20px;
    text-align:center;
    font-size:14px;
}

.login-form p a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
}

.login-form p a:hover{
    text-decoration:underline;
}

@media(max-width:480px){

.login-form{
    width:90%;
    padding:30px;
}

.options{
    flex-direction:column;
    gap:10px;
}

}
input {
    background: transparent;
    color: white;
    border: 1px solid white;
    /* font-size:20px; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: rgb(253, 253, 253) !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size:20px;
}
